html, body {
    height: 100%;
    margin: 0;
}

body.login-page {
    background: url('images/login.jpg') no-repeat center center fixed;
    background-size: cover;

    /* turn on the animation */
    animation: bg‑scroll 20s linear infinite;
}

@keyframes bg‑scroll {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body.login-page {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    padding: 2rem;
    width: 320px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255,255,255,0.25);
}

.login-container h2{
    margin-top: 0;
    text-align: center;
}

.login-container label {
    display: block;
    margin: 0.5rem 0 0.25rem;
    font-size: 0.9rem;
}

.login-container input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    box-sizing: border-box;

    border-radius: 8px;
    border: none;

    background: rgba(255,255,255,0.6);
}

.login-container button {
    width: 100%;
    padding: 0.7rem;

    background: linear-gradient(135deg,#a1b1bd,#00aaff);

    border: none;
    color: #fff;

    font-size: 1rem;
    cursor: pointer;

    border-radius: 12px;

    transition: all 0.25s ease;
}

.login-container button:hover {
    background: linear-gradient(135deg,#0060aa,#0090dd);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
/* DASHBOARD PAGE */

.dashboard-page {
    font-family: Arial, sans-serif;
    display: flex;
}

/* SIDEBAR */

.sidebar{
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding-top: 20px;
    position: fixed;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:15px;
    text-align:center;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.sidebar li:hover{
    background:#334155;
}

/* MAIN CONTENT */

.main-content{
    margin-left:220px;
    width:100%;
}

/* TOP BAR */

.topbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:15px;
    background:#f5f5f5;
}

/* PROFILE */

.profile{
    text-align:center;
    margin-left:20px;
}

.profile img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* CONTENT */

.content{
    padding:20px;
}